{% extends 'base.html.twig' %}

{% block title %}Edit Groupe{% endblock %}

{% block body %}
    <h1>Edit Groupe</h1>

    {{ include('groupe/_form.html.twig', {'button_label ': 'Update'}) }}

    <a class="" href="{{ path('groupe_index') }}">retour à la liste</a>

{% endblock %}
