{% extends 'base.html.twig' %}

{% block title %}Editer un Objectif{% endblock %}

{% block body %}
    <h1>Editer un Objectif</h1>

    {{ include('objectif/_formEdit.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div style="text-align: right">
    <a class="" href="{{ path('objectif_index') }}">retour à la liste</a>
    </div>

{% endblock %}
