<form method="post" action="{{ path('competition_delete', {'id': competition.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir le supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competition.id) }}">
    <button class="btn btn-outline-danger float-right">Delete</button>
</form>
