{% extends 'base.html.twig' %}

{% block title %}New Competition{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle compétition</h1>

    {{ include('competition/_form.html.twig') }}

    <a href="{{ path('competition_index') }}">Retour à la liste</a>
{% endblock %}
