{% extends 'base.html.twig' %}

{% block title %}Edit MaitreArmes{% endblock %}

{% block body %}
    <h1>Edit MaitreArmes</h1>

    {{ include('maitre_armes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('maitre_armes_index') }}">back to list</a>

    {{ include('maitre_armes/_delete_form.html.twig') }}
{% endblock %}
