{% extends 'base.html.twig' %}

{% block title %}New MaitreArmes{% endblock %}

{% block body %}
    <h1>Create new MaitreArmes</h1>

    {{ include('maitre_armes/_form.html.twig') }}

    <a href="{{ path('maitre_armes_index') }}">back to list</a>
{% endblock %}
