{% extends 'base.html.twig' %}

{% block title %}Modifier un entrainement{% endblock %}

{% block body %}
    <h1>Modifier un entrainement</h1>

    {{ include('entrainement/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info mt-2" href="{{ path('app_entrainement_index') }}">Retour à la liste</a>

{% endblock %}
